body{
  margin: 0;
}
.container{
  width: calc(100% - 20px);
  height: 200px;
  background-color: #CCC;
  color: #FF0000;
  margin: 2px;
}


/* A ultima definiação irá ganhar*/
body .container{
  width: calc(100% - 20px);
  height: 200px;
  background-color: #CCC;
  color: green;
  margin: 2px;
}

/* .container que irá ganhar. Quanto mais especifico for, melhor*/
div{
  width: calc(100% - 20px);
  height: 200px;
  background-color: #CCC;
  color: blue;
  margin: 2px;
}


.container strong{
  color: blue;
}